<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">

	<listeners>

		<listener class-name="com.ecommerce.utilities.Reporting"></listener>
		<listener class-name="com.ecommerce.testCases.Login_TC_001"></listener>
		<listener class-name="com.ecommerce.testCases.Profile_TC_002"></listener>

	</listeners>

	<test name="Profile Visit">

		<parameter name="browser" value="chrome"></parameter>
		<parameter name="url" value="https://stackoverflow.com/users/login"></parameter>

		<classes>

			<class name="com.ecommerce.testCases.Login_TC_001" />

		</classes>
	</test>

<!-- 	<test name="Shotcut Keys">

		<parameter name="browser" value="firefox"></parameter>
		<parameter name="url" value="https://stackoverflow.com/users/login"></parameter>

		<classes>

			<class name="com.ecommerce.testCases.Profile_TC_002" />

		</classes>
	</test> -->


</suite> 
 